<button mat-raised-button color="accent" routerLink="/index">Back</button>&nbsp;
<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/create">Criar Calendário</button>
    <button mat-raised-button color="primary" (click)="vigias()">Consultar Vigilâncias.</button>
    <button mat-raised-button color="primary" (click)="profs()">Consultar Professores.</button>
    <button mat-raised-button color="primary" (click)="exames()">Consultar Exames.</button>
    <!--button type="submit" (click)="consultarVigilancia(nome.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Consultar Vigilâncias.</button-->

  </mat-card>
</div>