<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/create">Criar Calendário</button>
    <button mat-raised-button color="primary" routerLink="/availability">Definir disponibilidade</button>
    <button mat-raised-button color="primary" routerLink="/consult">Consultar Vigilâncias.</button>
    <!--button type="submit" (click)="consultarVigilancia(nome.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Consultar Vigilâncias.</button-->

  </mat-card>
</div>