
    <button mat-raised-button color="primary" routerLink="/index">Página Inicial</button>
    <button mat-raised-button color="primary" routerLink="/vigilantes">Consultar Vigilantes</button>
    <button mat-raised-button color="primary" routerLink="/login">Log out </button>
<br>
<br>
<br>
<br>

<h2 style="text-align:center">Perfil</h2>

<div class="card" align="center">
  <img src="profile.png"  style="width:10%" class="center">
  <h2>Prof. Tiago Águas</h2>
  <h3 class="title">Professor Regente</h3>
  <h3>Disciplina: Cálculo</h3>
</div>