<body>
    <div class="imagemfcul">

    </div>
    <div class="login-page">
        <div class="form">
          <h1 class="header1">Vigilâncias FCUL</h1>
            <input type="text" placeholder="Username" (change)="inputUser($event)"/>
            <input type="password" placeholder="Password" (change)="inputPw($event)"/>
            <button (click)="login()" class="submitBtn"><b>Confimar </b></button><br>
			&nbsp;
            <button (click)="addAdmin()" class="adminBtn"><b>Adicionar Admin</b></button>
        </div>
    </div>    
</body>