<!-- <body>
    <div class="imagemfcul">

    </div>
    <div class="login-page">
        <div class="form">
          <h1 class="header1">Vigilâncias FCUL</h1>
            <input type="text" placeholder="Username" (change)="inputUser($event)"/>
            <input type="password" placeholder="Password" (change)="inputPw($event)"/>
            <button (click)="login()" class="submitBtn"><b>Submit</b></button><br>
            <button (click)="addAdmin()" class="adminBtn"><b>Adiciona Admin</b></button>
        </div>
    </div>
    
</body> -->

 
<body>
    <div class="imagemfcul">
     <img src="../../../assets/images/logo_fcul.png" alt="Logo fcul" heigth="30%" width="30%">
     <img src="../../../assets/images/logo_app.png" alt="Logo fixe" height="100%" weight="100%" align="right">
    </div>
    <div class="login-page">
        <div class="form">
          <h1 class="header1">Login</h1>
          <form class="login-form" (submit)="login($event)">
            <input type="text" placeholder="Username"/>
            <input type="password" placeholder="Password"/>
            <button><b>Submit</b></button>
          </form>
        </div>
    </div>
    
    </body>
