<br>
<br>
<ul>
    <button mat-raised-button color="primary" routerLink="/index">Página Inicial</button>
    <button mat-raised-button color="primary" routerLink="/login">Log out </button>
</ul> 


<br>

  <table id="tabela">
        <tr>
          <th>Disciplina</th>
          <th>Data</th>
          <th>Salas</th>
          <th>Prof. Vigilantes</th>
        </tr>
        <tr>
          <td>Cálculo</td>
          <td>31/05/2019</td>
          <td>3.2.14</td>
          <td>Josefa Maria</td>
          <td><div>
              <button mat-raised-button class="button" routerLink = " vigilante">Dispensar</button>
          </div>
        </td>
        </tr>
        <tr>
          <td>Cálculo</td>
          <td>31/05/2019</td>
          <td>3.2.14</td>
          <td>Jacinto Planta</td>
          <td><div><button mat-raised-button class="button" routerLink = "vigilantes">Dispensar</button></div></td>
        </tr>
        
      </table>
