<br>
<br>
<ul>
    <button mat-raised-button color="primary" routerLink="/index">Página Inicial</button>
    <button mat-raised-button color="primary" routerLink="/login">Log out </button>
</ul> 


<br>
<div>
  <br>
  <mat-card>
    <table mat-table [dataSource]='vigias'>

      <ng-container matColumnDef="prof">
        <th mat-header-cell *matHeaderCellDef>Professor:</th>
        <td mat-cell *matCellDef="let element"> {{element.professor}} </td>
      </ng-container>


      <ng-container matColumnDef="cadeira">
        <th mat-header-cell *matHeaderCellDef>Disciplina:</th>
        <td mat-cell *matCellDef="let element"> {{element.disciplina}} </td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data:</th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>

      <ng-container matColumnDef="hInicio">
          <th mat-header-cell *matHeaderCellDef>Hora Inicio:</th>
          <td mat-cell *matCellDef="let element"> {{element.hInicio}} </td>
        </ng-container>

        <ng-container matColumnDef="hFim">
            <th mat-header-cell *matHeaderCellDef>Hora Fim:</th>
            <td mat-cell *matCellDef="let element"> {{element.hFim}} </td>
          </ng-container>

      <ng-container matColumnDef="sala">
        <th mat-header-cell *matHeaderCellDef>Sala:</th>
        <td mat-cell *matCellDef="let element"> {{element.sala}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef='colunas'></tr>
      <tr mat-row *matRowDef='let row; columns: colunas;'></tr>
    </table>
  </mat-card>
</div>
