<button mat-raised-button color="accent" routerLink="/index">Back</button>&nbsp;
<div>
  <br>
  <mat-card>
    <table mat-table [dataSource]='exames'>
      <ng-container matColumnDef="unCurricular">
        <th mat-header-cell *matHeaderCellDef>Disciplina:</th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container>

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data:</th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>

      <ng-container matColumnDef="horaInicio">
        <th mat-header-cell *matHeaderCellDef>Hora de Inicio:</th>
        <td mat-cell *matCellDef="let element"> {{element.horaInicio}} </td>
      </ng-container>

      <ng-container matColumnDef="horaFim">
        <th mat-header-cell *matHeaderCellDef>Hora de Fim:</th>
        <td mat-cell *matCellDef="let element"> {{element.horaFim}} </td>
      </ng-container>

      <ng-container matColumnDef="salas">
        <th mat-header-cell *matHeaderCellDef>Salas:</th>
        <td mat-cell *matCellDef="let element"> {{element.salas}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef='colunas'></tr>
      <tr mat-row *matRowDef='let row; columns: colunas;'></tr>
    </table>
  </mat-card>
</div>